<header>
    <div class="header-left">
      <a href="/"><button>Home</button></a>
      <a href="/analysis"><button>Analysis</button></a>
      <a href="/teams"><button>Team</button></a>
      <a href="/circuits"><button>Circuits</button></a>
      <a href="/drivers"><button>Driver</button></a>
      <a href="/schedule"><button>Schedule</button></a>
    </div>
    <div class="header-right">
      <span class="f1-logo">F1</span>
      <span class="company-name">DRIVE TO SURVIVE</span>
    </div>
  </header>
  